hitindicator {
    mix-blend-mode: lighten;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    align-items: center;
    justify-content: center;


    hitpoint {
        width: 60px;
        height: 60px;
        background-color: red;
        opacity: 0.7;
        position: absolute;
        transition: all 0.1s ease-out;
        background-image: url( swb_base/deathmatch_dep/assets/ui/hit.png );
        background-image-tint: #fc0;
        background-size: 100%;

        label {
        }

        &:intro {
            opacity: 0;
        }

        &:outro {
            transition: all 0.1s ease-in;
            opacity: 0;
        }
    }
}
