hitmarker {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;

    marker {
        opacity: 1;
        transition: all 0.2s ease-in 0s;

        .leftTopBar {
            top: -12px;
            left: -16px;
            width: 12px;
            height: 1px;
            transform: rotate(45deg);
        }

        .leftBottomBar {
            top: 12px;
            left: -16px;
            width: 12px;
            height: 1px;
            transform: rotate(-45deg);
        }

        .RightTopBar {
            top: -12px;
            left: 6px;
            width: 12px;
            height: 1px;
            transform: rotate(-45deg);
        }

        .RightBottomBar {
            top: 12px;
            left: 6px;
            width: 12px;
            height: 1px;
            transform: rotate(45deg);
        }
    }
}

.fadeOut {
    opacity: 0;
}

.sharedBarStyling {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
}

.sharedBarStylingKill {
    position: absolute;
    background-color: #DC143C;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
}
