SniperScope {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
	transition: margin 0.01s ease-out;

	&.hide {
		display: none;
	}

	.lensWrapper {
		position: relative;
		width: 100%;
	}

	.lens {
		height: 100%;
		width: 100%;
	}

	.scope {
		position: absolute;
		height: 100%;
		width: 100%;
		transition: filter 0.01s ease-out;
	}

	.leftBar,
	.rightBar {
		background-color: black;
		height: 100%;
		flex-grow: 1;
	}

	.leftBarOffscreen,
	.rightBarOffscreen,
	.topBar,
	.bottomBar {
		position: absolute;
		background-color: black;
		width: 100%;
		height: 100%;
	}

	.leftBarOffscreen {
		top: -50%;
		left: -100%;
		height: 200%;
	}

	.rightBarOffscreen {
		top: -50%;
		right: -100%;
		height: 200%;
	}

	.topBar {
		top: -100%;
	}

	.bottomBar {
		bottom: -100%;
	}
}
