sniperScope {
    position: absolute;
    width: 100%;
    height: 100%;

    .lens {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX( -50% ) translateY( -50% );
        opacity: 1;
    }

    .scope {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX( -50% ) translateY( -50% );
        opacity: 1;
    }

    .leftBar {
        position: absolute;
        background-color: black;
        height: 100%;
        width: 10000px;
        transform: translateX( 4.85% ) translateY( -50% );
    }

    .rightBar {
        position: absolute;
        background-color: black;
        height: 100%;
        width: 10000px;
        transform: translateX( -104.85% ) translateY( -50% );
    }

    .topBar {
        position: absolute;
        background-color: black;
        width: 10000px;
        height: 10000px;
        transform: translateX( -50% ) translateY( -104.85% );
    }

    .bottomBar {
        position: absolute;
        background-color: black;
        width: 10000px;
        height: 10000px;
        transform: translateX( -50% ) translateY( 4.85% );
    }
}

.hideSniperScope {
    display: none;
}
