AmmoDisplay {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 2%;
    right: 5%;
    height: 170px;
    color: white;
    text-align: right;
    font-family: Elronmonospace;
    letter-spacing: -1px;

    .ammoWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        .clipLabel {
            font-size: 55px;
            text-align: right;
            width: 110px;
            text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
            transition: color 0.5s ease-out;
        }

        .reserveLabel {
            font-size: 24px;
            text-align: left;
            text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
            transition: color 0.5s ease-out;
        }
    }

    .iconWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
        margin-top: -20px;
        width: 126px;

        .weaponIcon {
            height: 126px;
            width: 126px;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.75;
            transform: rotateY(180deg);
        }

        .fireModeWrapper {
            position: absolute;
            bottom: 20px;
            display: flex;
            align-self: flex-start;
            flex-direction: row;

            .fireModeIcon {
                height: 18px;
                width: 32px;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.5;
            }

            .fireModeIcon:not(:first-child) {
                margin-left: -8px;
            }
        }
    }

    &.hideAmmoDisplay {
        display: none;
    }
}
