HealthDisplay {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2%;
    left: 5%;
    height: 170px;
    color: white;
    text-align: right;
    font-family: Elronmonospace;
    letter-spacing: -1px;

    .healthWrapper {
        height: 50px;
        align-items: center;

        .healthIcon {
            height: 35px;
            width: 35px;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.75;
        }

        .healthLabel {
            font-size: 55px;
            margin: 5px 0 0 20px;
            text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        }
    }

    &.hideHealthDisplay {
        display: none;
    }
}
