$dragMode: #e67e22;

AttachmentEditorMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;

    .hint {
        position: absolute;
        flex-direction: column;
        top: 25%;
        right: 50%;
        transform: translate(50%,-50%);
        font-family: Poppins;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);

        text {
            &.highlight {
                color: $dragMode;
            }
        }

        .title {
            font-size: 34px;
            color: white;
        }

        .subTitle {
            font-size: 24px;
            text-align: center;
            color: $dragMode;

            label {
                width: 100%;
            }
        }
    }

    .menu {
        width: 450px;
        height: 750px;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        top: 10px;
        left: 10px;
        font-family: Poppins;
        border-radius: 4px;
        color: white;

        label {
            text-align: center;
        }

        .title {
            font-size: 43px;
            height: 75px;
            text-align: center;

            label {
                width: 100%;
            }
        }

        .subTitle {
            font-size: 20px;
            margin: 20px 0 10px 0;
            width: 100%;
            text-align: center;

            label {
                width: 100%;
            }
        }

        .textentry.modelInput {
            width: 90%;
            height: 74px;
            max-height: 74px;
            margin: 10px 0 0 5%;
            color: rgba( white, 0.5 );
            border-radius: 4px;
            background-color: rgba( black, 0.5 );
            overflow: scroll;

            label {
                font-size: 16px;
                padding: 8px;
            }

            &.valid {
                color: #2ecc71;
            }

            &.invalid {
                color: #e84118;
            }
        }

        button {
            cursor: pointer;
            color: white;
            text-align: center;
            width: 120px;
            margin: 0 25px 0 25px;
            border: 2px;
            height: 30px;
            border-color: transparent;
            border-radius: 4px;
            align-items: center;

            label {
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                transition: font-size 0.05s ease-in-out;

                &:active {
                    font-size: 24px;
                }
            }

            &:hover {
                border-color: white;
            }

            &:active {
                border-color: transparent;
            }
        }

        .buttonContainer {
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            height: 60px;
        }
    }

    .perspectiveButtons {
        flex-direction: column;
        margin-left: -60px;
        cursor: pointer;
        z-index: -1;
        font-family: Poppins;
        color: white;

        button {
            height: 40px;
            width: 170px;
            transform: rotateZ( 90deg );
            border-radius: 4px;
            justify-content: center;
            align-items: center;
            background-color: rgb(20, 20, 20);
            border: 1px;
            border-bottom: 0;
            margin-top: 140px;

            &:first-child {
                margin-top: 90px;
            }

            &.selected {
                color: #2ecc71;
                border-color: #2ecc71;
            }

            label {
                font-size: 18px;
                font-weight: bold;
                transition: font-size 0.05s ease-in-out;

                &:active {
                    font-size: 22px;
                }
            }

            &:hover {
                border-color: white;
            }

            &:active {
                border-color: transparent;
            }
        }
    }

    .controls {
        position: absolute;
        width: 300px;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%,0);
        background-color: rgba(31, 31, 31, 0.9);
        border-radius: 4px;
        color: white;
        flex-direction: column;
        align-items: center;

        button {
            height: 60px;
            width: 33%;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            icon {
                justify-content: center;
                align-items: center;
            }
        }

        .material-icons {
            font-family: MaterialIcons;
            font-size: 50px;
            color: white;
            transition: color 0.1s linear, font-size 0.05s ease-in-out;

            label {
                // Hack because parent has translate as well
                transform: translate(-50%,0);
            }

            &.rotate:hover {
                color: #9b59b6;
            }

            &.reset:hover {
                color: #e84118;
            }

            &:active {
                font-size: 70px;
            }
        }
    }
}