.button.popupbutton.dropdown {
    width: 90%;
    margin: 10px 0 0 5%;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba( black, 0.5 );
    color: white;
    height: 44px;

    label {
        font-size: 16px;
        padding: 8px;
    }

    > .dropdown_indicator {
        position: absolute;
        font-family: MaterialIcons;
        font-size: 21px;
        position: absolute;
        right: 10px;
        top: 10px;

        &.opened {
            transform: rotate(180deg);
            margin-top: -2px;
        }
    }

    &.open {
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        transition: border-radius 0.2s ease-out;
    }
}
