NameTag {
    justify-content: center;
    align-items: center;
    mix-blend-mode: lighten;

    .title {
        font-family: Roboto;
        font-size: 30px;
        white-space: nowrap;
        color: #fa2;
        mix-blend-mode: lighten;
        text-shadow: 0px 0px 5px #f40;
    }

    .avatar {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        border-radius: 100px;
        background-size: cover;
    }
}
