@using Sandbox.UI;
@attribute [StyleSheet("/swb_editor/ui/AttachmentEditorMenu.scss")]
@namespace SWB_Editor

<root>
    <div class="hint">
        <div>
            <text class="title">Hold left mouse and drag (mode: </text>
            <text class="title highlight" @ref=DragModeLabel></text>
            <text class="title">)</text>
        </div>
        <text class="subTitle">Click right mouse to change mode</text>
    </div>
    <div class="menu">
        <text class="title">Attachment Editor</text>

        <text class="subTitle">Model Input</text>
        <TextEntry class="modelInput" @ref=ModelInput></TextEntry>

        <text class="subTitle">Parent Bone</text>
		<DropDown Value:bind=@BoneName @ref=BoneDropDown />

        <text class="subTitle">Position</text>
        <SliderEntry min="-60" max="60" step="0.001" name="X" @onchange=@OnSliderChange Value:bind=@X></SliderEntry>
        <SliderEntry min="-60" max="60" step="0.001" name="Y" @onchange=@OnSliderChange Value:bind=@Y></SliderEntry>
        <SliderEntry min="-60" max="60" step="0.001" name="Z" @onchange=@OnSliderChange Value:bind=@Z></SliderEntry>

        <text class="subTitle">Angle</text>
        <SliderEntry min="-360" max="360" step="0.001" name="Pitch" @onchange=@OnSliderChange Value:bind=@Pitch></SliderEntry>
        <SliderEntry min="-360" max="360" step="0.001" name="Yaw" @onchange=@OnSliderChange Value:bind=@Yaw></SliderEntry>
        <SliderEntry min="-360" max="360" step="0.001" name="Roll" @onchange=@OnSliderChange Value:bind=@Roll></SliderEntry>

        <text class="subTitle">Scale</text>
        <SliderEntry min="0.001" max="25" step="0.001" name="XYZ" @onchange=@OnSliderChange Value:bind=@Scale></SliderEntry>

        <div class="buttonContainer">
            <button style="background-color: #e84118;" @onclick=@OnReset>RESET</button>
            <button style="background-color: #00a8ff;" @onclick=@OnCopy>COPY</button>
        </div>
    </div>
    <div class="controls">
        <button @onclick=@OnRotateUp style="margin-bottom: 10px">
            <icon class="material-icons column rotate">arrow_upward</icon>
        </button>
        <div>
            <button @onclick=@OnRotateLeft>
                <icon class="material-icons rotate">undo</icon>
            </button>
            <button @onclick=@OnRotateReset>
                <icon class="material-icons reset">restore</icon>
            </button>
            <button @onclick=@OnRotateRight>
                <icon class="material-icons rotate">redo</icon>
            </button>
        </div>
        <button @onclick=@OnRotateDown style="margin-top: 10px">
            <icon class="material-icons column rotate">arrow_downward</icon>
        </button>
    </div>
    <div class="perspectiveButtons">
        <button class="selected" @onclick=OnEditViewModel @ref=ViewModelButton>View Model</button>
        <button @onclick=@OnEditWorldModel @ref=WorldModelButton>World Model</button>
    </div>
</root>
