damageindicator {
    mix-blend-mode: lighten;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;

    hitpoint {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 600px;
        height: 600px;
        border-radius: 1000px;
        border: 20px solid transparent;
        border-bottom: 20px solid #f00;
        transition: opacity 0.5s ease-out;
        opacity: 0.8;
        transform-origin: 0% 0%;

        label {
            text-shadow: 0px 0px 10px #fa0;
        }

        &.dying {
            opacity: 0;
        }
    }
}
