
rootpanel {
    background-color: rgba( #333, 0 );
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.spawnmenuopen {
        transition: background-color 0.3s ease-out;
        background-color: rgba( #333, 0.9 );
    }

    &.devcamera {
        display: none;
    }
}

vitals {
    position: absolute;
    bottom: 64px;
    left: 100px;
    font-size: 64px;
    color: #ff0;
    mix-blend-mode: lighten;
    font-family: Roboto;

    label {
        text-shadow: 0px 0px 20px #f70a;

        &.danger {
            color: #f00;
            text-shadow: 0px 0px 10px #f005;
        }
    }
}


ammo {
    position: absolute;
    bottom: 64px;
    right: 100px;
    font-size: 64px;
    color: #ff0;
    mix-blend-mode: lighten;
    font-family: Roboto;

    label {
        text-shadow: 0px 0px 20px #f70a;

        &.danger {
            color: #f00;
        }
    }
}


.dm_pistol .icon {
    background-image: url( swb_base/deathmatch_dep/assets/ui/weapons/dm_pistol.png );
}

.dm_shotgun .icon {
    background-image: url( swb_base/deathmatch_dep/assets/ui/weapons/dm_shotgun.png );
}

.dm_smg .icon {
    background-image: url( swb_base/deathmatch_dep/assets/ui/weapons/dm_smg.png );
}

.dm_crossbow .icon, .crossbow_bolt .icon {
    background-image: url( swb_base/deathmatch_dep/assets/ui/weapons/dm_crossbow.png );
}

// TEMP
/*
.swb_rust_smg .icon {
    background-image: url( /swb_rust/assets/ui/swb_rust_smg.png );
}

.swb_rust_pistol .icon {
    background-image: url( /swb_rust/assets/ui/swb_rust_pistol.png );
}
*/