
pickupfeed
{
	position: absolute;
	right: 100px;
	bottom: 250px;
	font-size: 40px;
	flex-direction: column;
	text-align: right;

	label
	{
		color: #ff0;
		mix-blend-mode: lighten;
		text-shadow: 0px 0px 20px #f70d;
		position: relative;
		left: 0;
		transition: all 0.2s ease-out;
		height: 50px;
		opacity: 1;

		//
		// Pseudo class set for the first time of its life
		//
		&:intro
		{
			height: 0px;
			opacity: 0;
		}
		//
		// Pseudo class set for the last frame of its life
		// (and keeps the panel alive until transition ends)
		//
		&:outro
		{
			color: #fa00;
			text-shadow: 0px 0px 20px #f703;
			transition: all 7.0s ease-in;
		}
	}
}
