.scoreboard
{
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Roboto;
	font-size: 23px;
	font-weight: 500;
	color: white;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.1s ease-out;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center center;
	background-color: rgba( 10, 10, 10, 0.8 );

	&.open
	{
		opacity: 1;
		transform: scale( 1 );
	}

	.name
	{
		flex-grow: 1;
	}

	.deaths, .kills, .ping, .fps
	{
		width: 90px;
		text-align: right;
	}

	.ping, .fps
	{
		opacity: 0.3;
		width: 50px;
	}

	.deaths
	{
		margin-right: 50px;
	}

	.header
	{
		font-weight: 500;
		border-bottom: 3px solid #fc0;
		min-width: 30%;
		margin-bottom: 10px;
		padding-bottom: 5px;
		color: #fc0;
		mix-blend-mode: lighten;
	}

	.canvas
	{
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;
		mix-blend-mode: lighten;

		.entry
		{
			mix-blend-mode: lighten;
			margin-bottom: 2px;
			padding: 4px 10px;
			color: #fff;

			label
			{
				//text-shadow: 0px 0px 10px #f70a;
			}

			&.me
			{
				background-color: #00aa;
			}
		}
	}
}
