{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "sound": "Unset",
    "deadplayer": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "deadplayer",
      "r": "Ignore"
    }
  ],
  "__guid": "00000000-0000-0000-0000-000000000000",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}