{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "reload",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions"
    },
    {
      "Name": "use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "Slot1",
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot2",
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot3",
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot4",
      "KeyboardCode": "4",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot5",
      "KeyboardCode": "5",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot6",
      "KeyboardCode": "6",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot7",
      "KeyboardCode": "7",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot8",
      "KeyboardCode": "8",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot9",
      "KeyboardCode": "9",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot0",
      "KeyboardCode": "0",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "SlotPrev",
      "KeyboardCode": "mouse4",
      "GamepadCode": "SwitchLeftBumper",
      "GroupName": "Inventory"
    },
    {
      "Name": "SlotNext",
      "KeyboardCode": "mouse5",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Inventory"
    },
    {
      "Name": "View",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Drop",
      "KeyboardCode": "g",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Flashlight",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth",
      "GroupName": "Other"
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Menu",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "9548574b-2692-4e12-a25e-5093acbcb8b8",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}